* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --cor001: #333;
  --cor002: #FFF;
  --cor003: #000;
  --cor004: #0084ff;
  --cor005: #FAF6F4;
  --cor006: #EAEAEA;
  --cor007: #F4F4F4;  
  --cor008: #efefef;
  --cor009: #ccc;
  --cor010: #d7d7d78f;
  --cor011: #d7d7d7e7;
  --cor012: #c4c4c4;


  --degrade001: linear-gradient(145deg, #0084ff, #46a5fd, #77baf9);
  --degrade002: linear-gradient(145deg, #0084ff, #6cb8ff, #9ecffd);
  --degrade003: linear-gradient(145deg, #ffffff 40%, #e4f0fb, #cae5ff);
}